@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar{
    display: flex;
    padding: 10px;
    transition: all 0.5s ease;
}
.navbar.sticky{
    background-color:#555555cf;
}
.navbar-brand img{
    width: 175px;
    height: 130px;
}
.navbar.sticky .navbar-brand{
    height: 50px;
}
.navbar.sticky .navbar-brand img{
    height: 50px;
    width: 70px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar.sticky .nav-list{
    margin-bottom: 0;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    margin: 0px 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}
.nav-list li a:hover{
    border: none;
    box-shadow: 0px 0px 1px 1px white;
}

.header .dropdown-menu a:hover{
    width: auto;
}
.header .dropdown-menu a:focus{
    background-color: white;
    color: black;
}

.nav-list .nav-btn{
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid white;
}
.nav-list .nav-btn:hover{
    background-color: #006072;
}

/* Mmenu bar */
.menu-bar{
    padding:0;
    display: none;
    font-size: 23px;
}
.menu-bar i{
    margin-right: 10px;
}
.dropdown-toggle{
    color: white;
}
.dropdown-toggle:hover{
    color: white;
}
.dropdown button:focus{
    outline: none;
    box-shadow: none;
}
.dropdown-menu.show{
    right: 15%;
    top: 115%;
}
.dropdown-menu .dropdown-item{
    color: black;
}
.dropdown-menu .dropdown-item img{
    margin-right: 10px;
}

@media screen and (max-width:1200px) {
    .menu-bar{
        display: block;
        right: 0;
        top: 0;
        z-index: 3;
        color: white;
    }
    .nav-list{
        z-index: 2;
        background-color: #000000ed;
        position: fixed;
        display: inline-block;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: -110%;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .nav-list.active{
        left: 0;
    }
    .nav-list li{
        display: block;
        margin: 30px auto;
        text-align: center;
        padding-left: 0px;
    }
    .nav-list li a{
        font-size: 22px;
    }  
    .nav-btn{background-color: #006072;
    }
    .menu-bar i.active:before{
        content: "\f00d";
    }

}

.seprators{
    padding: 8px 19px;
    position: relative;
    border-left:  1px solid white;
    border-right: 1px solid white;
    width: 70px;
}

.seprators .n-counter{
    background-color: red;
    border-radius: 50%;
    padding: 1px;
    width: 16px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
}

.nav-list .li-dropdown{
    padding-left: 0px;
}

@media screen and (max-width:1200px) {
    .dropdown-menu.show{
        right: 50%;
        top: -60px;
        transform: translateX(50%);
    }
    .li-custom-dropdown .dropdown-menu.show{
        right: 50%;
        top: -200px;
        transform: translateX(50%);
    }
    .li-custom-dropdown .dropdown-menu.show a{
        font-size: 16px;
    }
    .dropdown-toggle::after{
        transform: rotate(180deg);
    }
    .seprators{
        margin: 0 auto;
    }
}

/* ERROR MESSAGE */
.error{
    color: red;
    margin-top: 2px;
    font-size: 13px;
}
.alert{
    padding-left: 5px;
}
.alert ul, .errorlist{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding: 0;
    padding-left: 10px;
    font-size: 14px;
    color: red;
}
.alert .success{
    color:#007E33;
}