@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Navabar */
.navbar {
    position: static;
}

.navbar.sticky {
    position: fixed;
    z-index: 999;
}

/* Form */
#section-form{
    margin-top: 84px;
}
.form {
    width: 38%;
    margin: 30px auto;
}

.form-control, .input-group-text {
    height: 46px;
}

.msg {
    height: 146px !important;
}

.form-check {
    margin: 15px 0;
}

.form-check-label {
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #4f4f4f;
}

.form-check-label a,
.submit a {
    text-decoration: none;
    color: #1fb6ff;
    cursor: pointer;
}

.submit button {
    background-color: #1d7a8c;
    color: white;
    border: none;
    width: 163px;
    height: 46px;
    margin: 20px;
    font-size: 20px;
    border-radius: 46px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .form {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .form {
        width: 90%;
    }

    .title {
        font-size: 1.8rem;
    }
}


/* Fewwords title */
.fewwords-title {
    text-align: center;
    font-size: 1.2rem;
}

.fewwords-title h1 {
    margin-top: 25px;
    font-size: 2rem;
    color: #565656;
}

.h-line {
    margin-bottom: 34px;
    opacity: 0.5;
}

.fewwords-title .line {
    height: 50px;
    width: 5%;
}

/* section-form */

.header-image {
    height: 10px;
    background: none;
}

.scroll-icon, .message-icon{
    display: none;
}

/*############# Navbar ###############*/

.navbar {
    background-color: #525252;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand img {
    width: 73px;
    height: 54px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 28px;
}
.nav-list{
    margin-bottom: 0;
}

.nav-link {
    color: white;
    cursor: pointer;
}

.nav-link:hover {
    color: white;
    opacity: 0.7;
}

.nav-btn {
    border-radius: 20px;
    background-color: #29626d;
}

.nav-btn:hover {
    background-color: #525252;
    color: white;
    opacity: 1;
}

/* For Sticky Navbar */

@media screen and (max-width:990px) {
    #section-header {
        z-index: 0;
        padding-bottom: 10px;
    }

    .navbar-collapse {
        z-index: 1;
        background-color: #23565f;
        border-radius: 10px;
        padding: 20px;
    }

    .nav-item {
        margin-left: 23px;
        margin-top: 7px;
    }

    .navbar-nav .nav-item .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 415px) {
    .nav-link {
        width: 100%;
        text-align: center;
    }

    .header-image {
        display: none;
    }
}

